@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

.container-a {
  margin: 0 auto;
  margin-bottom: 4em;
  width: 100%;
}

.acordion h2 {
  margin-bottom: 100px !important ;
}

.accordion .accordion-item {
}
.accordion .accordion-item button[aria-expanded='true'] {
}
.accordion button {
  position: relative !important;
  display: block !important;
  text-align: left !important;
  width: 100% !important;
  padding: 1em 0 !important;
  color: #7288a2 !important;
  font-size: 1.15rem !important;
  font-weight: 400 !important;
  border: none !important;
  background: none !important;
  outline: none !important;
  line-height: 0 !important;
  box-shadow: none !important;
  font-weight: 600;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #ffffff;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2 !important;
}
.accordion button .accordion-title {
  margin: 0 auto;
  align-items: center;
  font-weight: 700;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1 !important;
  max-height: 9em !important;
  transition: all 200ms linear !important;
  will-change: opacity, max-height !important;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem !important;
  font-weight: 300 !important;
  margin: 0 0 2em 0 !important;
  color: #ffffff;
}
