div#quad {
  font-size: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#quad figure {
  margin: 0;
  width: 100%;
  height: auto;
  transition: 1s;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 1em 1em 0 0;
}

.gallery figure {
  padding: 2rem 0;
}

div#quad figure:hover {
  cursor: pointer;
  z-index: 4;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

div#quad figure img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.8);
}

figure#quad .gallery {
  display: none;
}

div#quad figure:nth-child(1) {
  transform-origin: top left;
}

div#quad figure:nth-child(2) {
  transform-origin: top right;
}

div#quad figure:nth-child(3) {
  transform-origin: bottom left;
}

div#quad figure:nth-child(4) {
  transform-origin: bottom right;
}

.pf {
  margin-left: 45%;
  margin-top: 3em;
}

.pf:hover {
  background-color: antiquewhite !important;
  color: black;
}

.expanded {
  transform: scale(1.8);
  z-index: 5;
  display: inline-block;
}

div.full figure:not(.expanded) {
  pointer-events: none;
}

.gallery-general .gallery figure a {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1024px) {
  div#quad {
    font-size: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  div#quad {
    font-size: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery {
    padding: 0;
  }
}
